<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Shop</display-name>
  <resource-ref>
    <res-ref-name>jdbc/Library</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <jsp-config>
    <jsp-property-group>
      <display-name>header_and_footer</display-name>
      <url-pattern>/pages/*</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
      <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>ShowImage</servlet-name>
    <servlet-class>servlets.ShowImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowImage</servlet-name>
    <url-pattern>/ShowImage</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>